.cards {
    position: relative;
    flex-basis: 50%;
}

.layout {
    height: 100%;
    overflow-y: auto;
}

@media screen and (min-width: 480px) {
    .cards {
        flex-basis: 70%;
    }

    .layout {
        display: grid;
        grid-template-columns: repeat(auto-fill, 130px);
        gap: var(--spacing-l);
    }
}
