.details {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
    position: relative;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    height: 100%;
    text-transform: capitalize;
}

.panel {
    text-align: center;
}

.list {
    border: 1px solid lightgray;
}

.listItem {
    border-bottom: 1px solid lightgray;
    margin: 0;
    padding: 10px;
}

.listItem:last-child {
    border-bottom: none;
}
