.details {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: var(--spacing-m);
    position: relative;
    border-left: 1px solid var(--color-gray);
    border-top: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
}

.name {
    text-transform: capitalize;
}

.panel {
    text-align: center;
}

.list {
    border: 1px solid var(--color-lightgray);
}

.listItem {
    border-bottom: 1px solid var(--color-lightgray);
    margin: 0;
    padding: var(--spacing-m);
}

.listItem:last-child {
    border-bottom: none;
}

@media screen and (min-width: 480px) {
    .details {
        flex-basis: 35%;
    }

    .name {
        margin: initial;
    }
}
