.card {
    width: 130px;
    height: 150px;
    border: 1px solid var(--color-black);
    text-transform: capitalize;
    text-align: center;
    padding: var(--spacing-s);
}

.card:hover {
    cursor: pointer;
}
