:root {
    --spacing-s: 4px;
    --spacing-m: 8px;
    --spacing-l: 16px;

    --color-lightgray: lightgray;
    --color-black: black;
    --color-white: white;
    --color-red: red;
    --color-lightgreen: lightgreen;
    --color-yellow: yellow;
    --color-blue: blue;

    /** Name that color! */
    --color-silver: #cccccc;
    --color-dodger-blue: #2684ff;
    --color-gray: #808080;

    --header-height: 85px;
    --filters-height: 90px;

    --input-width: 140px;

    --font-size-default: 14px;

    --font-weight-semi-bold: 500;

    /** Value has to align between app controls and react-select */
    --border-radius-default: 5px;
}

html,
body,
#root {
    height: 100%;
}

* {
    box-sizing: border-box;
    outline-color: var(--color-dodger-blue);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    margin: 0;
}

label {
    margin-right: var(--spacing-s);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

figcaption {
    font-size: var(--font-size-default);
}

figure {
    margin: 0;
}
